
body {
  background: url('https://free4kwallpapers.com/uploads/originals/2020/01/25/ecola-state-park--oregon-oc-wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  text-align: center;
}

.intro-message {
  padding: 300px;
}

.featuredArtworkLink {
  color: #ffffff;

}

.featured-summary {
  font-size: small;
  color: #ffffff;
}
