
body {
  background: url('./images/forest.jpg') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  font-family: 'Cinzel', serif;
}

.container {
  text-align: center;
}

.intro-message {
  padding: 300px;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.featuredArtworkLink {
  font-family: 'Cinzel', serif;
  color: #ffffff;
}

a:hover {
  color: #444444;
}

a:link {
  text-decoration: none;
  outline: none;
}

.featured-summary {
  font-family: 'Cinzel', serif;
  font-size: small;
  color: #ffffff;
  margin-bottom: 250px;
}

#about {
  font-family: 'Piazzolla', serif;
  color: #ffffff;
  margin: 80px;
}

.about-me {
  padding-bottom: 50px;
}

.linkedin {
  margin-right: 20px;
}
