
body {
  background: url('https://free4kwallpapers.com/uploads/originals/2020/01/25/ecola-state-park--oregon-oc-wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  font-family: 'Cinzel', serif;
}

.container {
  text-align: center;
}

.intro-message {
  padding: 300px;
  font-family: 'Cinzel', serif;
}

.featuredArtworkLink {
  font-family: 'Cinzel', serif;
  color: #ffffff;
}

a:hover {
  color: #444444;
}

a:link {
  text-decoration: none;
}

.featured-summary {
  font-family: 'Cinzel', serif;
  font-size: small;
  color: #ffffff;
}
